

<div class=" bg-[#4f46e5] ">

  <div class=" flex   py-2 px-4 gap-6">

    <div class="bg-white rounded-full p-2 ">
      <img src="assets/images/book2.gif" alt="">
    </div>
    <div class=" font-bold text-[30px]   text-white mt-2">
      <header>SlamBook</header>
    </div>

  </div>

  <div class=" ">


  </div>

</div>
<div class="" style="border:1px solid black">

<div class=" py-4 px-10 bg-gray-300 h-screen" style="border:1px solid black">

  <div class=" gap-x-4 " style="border:1px solid black">
    <div class="w-full border rounded-lg bg-white h-80 hover:bg-blue-100  p-2" style="border:1px solid black">
      <div class=" rounded-full p-2 flex justify-center ">
        <img src="assets/images/frnd.png" alt="">
  
      </div>
      
      <p class="flex justify-center font-mono text-xl ">Friends</p>
      <p class="flex justify-center font-mono text-xs">fill a slam book and your personal details and what you like and dislike</p>
      <div class="flex justify-center mt-8">
        
        <button class=" bg-[#4f46e5] text-white w-60 rounded-full text-xl">Let's Go</button>
      </div>
    </div>
    <!-- right -->
    <div class="w-full border rounded-lg bg-white h-80 hover:bg-blue-100  p-2">
      <div class=" rounded-full p-2 flex justify-center ">
        <img src="assets/images/frnd.png" alt="">
  
      </div>
      
      <p class="flex justify-center font-mono text-xl ">Loce</p>
      <p class="flex justify-center font-mono text-xs">fill a slam book and your personal details and what you like and dislike</p>
      <div class="flex justify-center mt-8">
        
        <button class=" bg-[#4f46e5] text-white w-60 rounded-full text-xl">Let's Go</button>
      </div>
    </div>
  </div>
<!-- left -->
  
</div>

</div>

<footer class="bg-blue-300 absolute bottom-0 ">
  <p>©Salar patel</p>
    <p class="text-xs ">When you use our services, you’re trusting us with your information. We understand that this is a big responsibility and we work hard to protect your information and put you in control.</p>
  </footer>